@{
    ViewBag.Title = "contraseña";
    Layout = "~/Views/Shared/_layout_contraseña.cshtml";
}
<section class="home-slider-loop-false  inner-page owl-carousel" style="margin-bottom: -100px;">
    <div class="slider-item" style="background-image: url('../../template/img/slider-1.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">



                    <h1>Recupera tu contraseña </h1>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="section d-flex align-items-center justify-content-center">
</section>

<section class="section element-animate">

    <div class="container-fluid">

        <div class="col-md-12 text-center heading-wrap">


            <div class="container">

                <div class="form-wrap overlap primary element-animate">
                    <h2 class="h2">Ingresa los datos solicitados</h2>
                    <form action="#">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Cedula">
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" class="btn btn-warning btn-block py-3" value="Aceptar">
                        </div>
                    </form>
                </div>



            </div>
        </div>



    </div>
</section>




<footer class="site-footer" role="contentinfo">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4 mb-5">
                <h3>Sobre nosotros</h3>
                <p class="mb-5">La empresa en sí es una empresa muy exitosa. Los placeres y dolores de las caricias resultan de los placeres que se disciernen en todos los sentidos de los cuales se obtiene lo menos conveniente.</p>
                <ul class="list-unstyled footer-link d-flex footer-social">
                    <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                    <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
                </ul>

            </div>
            <div class="col-md-5 mb-5">
                <h3>Datos de contacto</h3>
                <ul class="list-unstyled footer-link">
                    <li class="d-block">
                        <span class="d-block">DIRECCIÓN:</span>
                        <span class="text-white">34 Nombre de la calle, nombre de la ciudad aquí, Estados Unidos</span>
                    </li>
                    <li class="d-block"><span class="d-block">Teléfono:</span><span class="text-white">+1 242 4942 290</span></li>
                    <li class="d-block"><span class="d-block">Correo electrónico:</span><span class="text-white">info@yourdomain.com</span></li>
                </ul>
            </div>
            <div class="col-md-3 mb-5">
                <h3>enlaces rápidos</h3>
                <ul class="enlace de pie de página sin estilo de lista">
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Condiciones de uso</a></li>
                    <li><a href="#">Descargos de responsabilidad</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <div class="row">
            <div class="col-12 text-md-center text-left">
                <p>
                    &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Esta plantilla está hecha con <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> <br> Imágenes de demostración Unsplash
                </p>
            </div>
        </div>
    </div>
</footer>