@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('../../template/img/slider-1.jpg');">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1>La salud es riqueza</h1>
                    <p class="mb-5">Es muy importante que el cliente preste atención al proceso adipiscente. Las conveniencias que obstaculiza, las necesidades, deben resolverse lo menos posible, y rechazando lo corrupto.</p>
                    <p><a href="#" class="btn btn-white btn-outline-white">Comenzar</a>
                </div>
            </div>
        </div>

    </div>

    <div class="slider-item" style="background-image: url('../../template/img/slider-2.jpg');">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1>Únete a Fitnezz hoy mismo</h1>
                    <p class="mb-5">Es muy importante que el cliente preste atención al proceso adipiscente. Las conveniencias que obstaculiza, las necesidades, deben resolverse lo menos posible, y rechazando lo corrupto..</p>
                    <p><a href="#" class="btn btn-white btn-outline-white">Comenzar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->


<section class="section element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Clases destacadas</h2>
                    <span class="back-text">Las clases</span>
                </div>
            </div>
        </div>
    </div>

    <div class="owl-carousel centernonloop">
        <a href="#" class="item-class">
            <div class="text">
                <p class="class-price">$30.99</p>
                <h2 class="class-heading">Nombre de la clase de acondicionamiento físico aquí</h2>
            </div>
            <img src="~/Template/img/img_1_square.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
            <div class="text">
                <p class="class-price">$30.99</p>
                <h2 class="class-heading">Nombre de la clase de acondicionamiento físico aquí</h2>
            </div>
            <img src="~/Template/img/img_2_square.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
            <div class="text">
                <p class="class-price">$30.99</p>
                <h2 class="class-heading">Nombre de la clase de acondicionamiento físico aquí</h2>
            </div>
            <img src="~/Template/img/img_3_square.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
            <div class="text">
                <p class="class-price">$30.99</p>
                <h2 class="class-heading">Nombre de la clase de acondicionamiento físico aquí</h2>
            </div>
            <img src="~/Template/img/img_4_square.jpg" alt="" class="img-fluid">
        </a>
    </div>
</section>

<section class="section bg-light element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Nuestro Horario</h2>
                    <span class="back-text-dark">Horario</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('../../template/img/img_1_square.jpg');"></div>
                    <div class="text order-1">
                        <h3>Nombre de la clase de acondicionamiento físico aquí</h3>
                        <p>La empresa en sí es una empresa muy exitosa. Fue elegido por ese arquitecto....</p>
                        <p class="Tiempo programado">
                            <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p><a href="#" class="btn btn-primary btn-sm">Únete desde $15</a></p>
                    </div>
                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('../../template/img/img_2_square.jpg');"></div>
                    <div class="text">
                        <h3>Nombre de la clase de acondicionamiento físico aquí</h3>
                        <p>El dolor en sí debe ir seguido de adipisis del desarrollador. Fue elegido por ese arquitecto...</p>
                        <p class="sched-time">
                            <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p><a href="#" class="btn btn-primary btn-sm">Únete desde $15</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('../../template/img/img_4_square.jpg');"></div>
                    <div class="text order-1">
                        <h3>Nombre de la clase de acondicionamiento físico aquí</h3>
                        <p>El dolor en sí debe ir seguido de adipisis del desarrollador. Fue elegido por ese arquitecto....</p>
                        <p class="Tiempo programado">
                            <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p><a href="#" class="btn btn-primary btn-sm">Únete desde $15</a></p>
                    </div>
                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('../../template/img/img_3_square.jpg');"></div>
                    <div class="text">
                        <h3>Nombre de la clase de acondicionamiento físico aquí</h3>
                        <p>La empresa en sí es una empresa muy exitosa. Fue elegido por ese arquitecto....</p>
                        <p class="sched-time">
                            <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p><a href="#" class="btn btn-primary btn-sm">Únete desde $15</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Entrenadores expertos</h2>
                    <span class="back-text">Nuestros entrenadores</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="major-caousel js-carousel-1 owl-carousel">
                <div>
                    <div class="media d-block media-custom text-center">
                        <a href="#"><img src="~/Template/img/person_1.jpg" alt="Image Placeholder" class="img-fluid"></a>
                        <div class="media-body">
                            <h3 class="mt-0 text-black">Mellisa Howard</h3>
                            <p class="lead">Entrenadora de gimnasio</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="media d-block media-custom text-center">
                        <a href="#"><img src="~/Template/img/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>
                        <div class="media-body">
                            <h3 class="mt-0 text-black">Mike Richardson</h3>
                            <p class="lead">Entrenador de gimnasio</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="media d-block media-custom text-center">
                        <a href="#"><img src="~/Template/img/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>
                        <div class="media-body">
                            <h3 class="mt-0 text-black">Charles White</h3>
                            <p class="lead">Entrenador de gimnasio</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="media d-block media-custom text-center">
                        <a href="#"><img src="~/Template/img/person_1.jpg" alt="Image Placeholder" class="img-fluid"></a>
                        <div class="media-body">
                            <h3 class="mt-0 text-black">Mellisa Howard</h3>
                            <p class="lead">Entrenadora de gimnasio</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="media d-block media-custom text-center">
                        <a href="#"><img src="~/Template/img/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>
                        <div class="media-body">
                            <h3 class="mt-0 text-black">Mike Richardson</h3>
                            <p class="lead">Entrenador de gimnasio</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="media d-block media-custom text-center">
                        <a href="#"><img src="~/Template/img/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>
                        <div class="media-body">
                            <h3 class="mt-0 text-black">Charles White</h3>
                            <p class="lead">Entrenador de gimnasio</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END slider -->
        </div>
    </div>
</section>

<section class="section element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Testimonial</h2>
                    <span class="back-text">Testimonial</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <blockquote class="testimonial">
                    <p>&ldquo; Es muy importante que el cliente preste atención al proceso adipiscente. ¿Dolor, cegado? Quien menos él, para seguir y quien nos lleve alguna verdad con justo y no explicaré los más nacidos de dolores, son huida.&rdquo;</p>
                    <div class="d-flex author">
                        <img src="~/Template/img/person_1.jpg" alt="" class="mr-4">
                        <div class="información del autor">
                            <h4>Mellisa Howard</h4>
                            <p>CEO, XYZ Company</p>
                        </div>
                    </div>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="testimonial">
                    <p>&ldquo; Es muy importante que el cliente preste atención al proceso adipiscente. ¿Dolor, cegado? Quien menos él, para seguir y quien nos lleve alguna verdad con justo y no explicaré los más nacidos de dolores, son huida. &rdquo;</p>
                    <div class="d-flex author">
                        <img src="~/Template/img/person_2.jpg" alt="" class="mr-4">
                        <div class="información del autor">
                            <h4>Mike Richardson</h4>
                            <p>CEO, XYZ Company</p>
                        </div>
                    </div>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="testimonial">
                    <p>&ldquo; Es muy importante que el cliente preste atención al proceso adipiscente. ¿Dolor, cegado? Quien menos él, para seguir y quien nos lleve alguna verdad con justo y no explicaré los más nacidos de dolores, son huida. &rdquo;</p>
                    <div class="d-flex author">
                        <img src="~/Template/img/person_3.jpg" alt="" class="mr-4">
                        <div class="información del autor">
                            <h4>Charles White</h4>
                            <p>CEO, XYZ Company</p>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section class="section element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Blog</h2>
                    <span class="back-text">Nuestro blog</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="blog d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('../../template/img/img_2_square.jpg');"></div>
                    <div class="text">
                        <h3>Nombre de la clase de fitness aquí</h3>
                        <p class="sched-time">
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p>La empresa en sí es una empresa muy exitosa. Fue elegido por ese arquitecto....</p>

                        <p><a href="#" class="btn btn-primary btn-sm">Leer más</a></p>

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="blog d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('../../template/img/img_2_square.jpg');"></div>
                    <div class="text">
                        <h3>Nombre de la clase de fitness aquí</h3>
                        <p class="sched-time">
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p>La empresa en sí es una empresa muy exitosa. Fue elegido por ese arquitecto...</p>

                        <p><a href="#" class="btn btn-primary btn-sm">Leer más</a></p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>