
@{
    ViewBag.Title = "IniciarSesion";
    Layout = "~/Views/Shared/_layout_Login.cshtml";
}

<section class="home-slider-loop-false  inner-page owl-carousel" style="margin-bottom: -100px;">
    <div class="slider-item" style="background-image: url('../../template/img/slider-1.jpg');">

        <div class="container">



            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">

                    <h1> Iniciar Sesión</h1>





                </div>

            </div>
        </div>

    </div>

</section>




<section class="section d-flex align-items-center justify-content-center">
</section>


<section class="section element-animate">

    <div class="container-fluid">

        <div class="col-md-12 text-center heading-wrap">


            <div class="container">

                <div class="form-wrap overlap primary element-animate">
                    <h2 class="h2">Conviértete en miembro</h2>
                    <form action="#">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Correo">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Contraseña">
                        </div>


                        <div class="form-group">
                            <input type="submit" class="btn btn-warning btn-block py-3" value="aceptar">
                        </div>




                        <div class="col-md-12 text-center heading-wrap">


                          
                                
                                    <a class="btn btn-warning btn-block py-3" href="@Url.Action("contraseña","Home")">Olvide contraseña</a>
                               
                           


                           

                                <a class="btn btn-warning btn-block py-3" href="@Url.Action("Registrarse","Home")">Registrarse</a>
                                

                           
                        </div>

                    </form>
                </div>



            </div>
        </div>

      
    </div>
</section>
